# data ignores to prevent accidental commits
kd_answers.csv.xz
kd_answers.csv
kd_topics.csv.xz
kd_topics.csv

# mallet output
kd_*.csv.mallet
kd_*.csv.mallet-model
kd_*.csv.mallet-state

kd_*.csv.stdout
kd_*.csv.stderr

# mallet ignores
mallet
mallet/
mallet-*.tar.gz
mallet-*/

# backup files
*~
